name: Integration Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  integration-test:
    strategy:
      matrix:
        version: [ 11, 17, 21 ]
    runs-on: ubuntu-latest
    services:
      redis1:
        image: himadieievsv/redis-cluster:7.2
        ports:
          - "7010-7012:7010-7012"
        env:
          INITIAL_PORT: 7010
        options: >-
          --health-cmd "redis-cli -p 7010 ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis2:
        image: himadieievsv/redis-cluster:7.2
        ports:
          - "7020-7022:7020-7022"
        env:
          INITIAL_PORT: 7020
        options: >-
          --health-cmd "redis-cli -p 7020 ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
      redis3:
        image: himadieievsv/redis-cluster:7.2
        ports:
          - "7010-7012:7010-7012"
        env:
          INITIAL_PORT: 7010
        options: >-
          --health-cmd "redis-cli -p 7030 ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-java@v3
        with:
          java-version: ${{ matrix.version }}
          distribution: 'temurin'
      - name: Run tests
        run: |
          ./gradlew \
          :redpulsar-core:test \
          :redpulsar-jedis:test \
          :redpulsar-lettuce:test \
          -DexcludeTags="unit" -i
